body{ 
    background-color: rgb(230, 234, 241);

}
h1{
    font-size: 80px;
    color: black;
    text-align: center;
} p{ 
    font-size: 25px;
    text-align: center;
}img{
    width: 400px;
    height: 400px;
    margin-left: 150px;
}
.cabecalho{
     background-color: rgb(210, 221, 240);
     display: flex;
}
.logoimg{
    width: 150px;
    height: 150px;
}
.listacabecalho{ 
    display: flex;
    margin-top: 48px;
}
.itemlistacabecalho{
    text-transform: uppercase;
    color: rgb(3, 3, 109);
    list-style: none;
    font-size: 30px;
    padding-left: 90px;
}
